// **** FOOTER ***** //
footer {
  color: #fff;
  height: 30vh;
  background-color: #141921;

  padding: 1rem 1rem 0 1rem;
  grid-area: footer;
  .container-footer {
    max-width: 1170px;
    margin: auto;
    .footer-col h4 {
      color: #fff;
    }
  }
  .row-footer {
    background-color: #141921;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
    background-color: #141921;
  }

  .footer-col {
    width: auto;
    padding: 0 15px;
  }
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f3a847;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff !important;
    text-decoration: none;
    font-weight: 300;
    color: #222;
    display: block;
    transition: all 0.3s ease-in-out;
  }
  .footer-col ul li a:hover {
    padding-left: 8px;
    font-weight: 400;
  }
  .footer-col .social-links a {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #f3a847;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 54px;
    border-radius: 50%;
    color: #000;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }

  .bottom {
    background-color: #141921;
    text-align: center;
  }
}

//****** FOOTER MEDIA QUERY *****///
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    // width: 100% !important;
  }
  .footer-col .social-links {
    width: 100% !important;
  }

  .footer {
    padding: 1rem 0 0 0 !important;
  }
}
