// **** FOOTER ***** //
footer {
  // color: #fff;
  // background: #141921 !important;
  // position: relative;

  color: #fff;
  height: fit-content;
  background: #141921 !important;
  position: relative;
  padding: 1rem 1rem 0;
  grid-area: footer;

  .back__top {
    background-color: #37475a !important;
    height: 36px;
    width: 100%;
    margin: 0;
    font-size: 13px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #495a6f !important;
      cursor: pointer;
    }
  }

  grid-area: footer;
  .container-footer {
    max-width: 1170px;
    margin: auto;
    .footer-col h4 {
      color: #fff;
    }
  }
  .row-footer {
    background-color: #141921;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5rem 2rem 1rem 2rem;
  }
  ul {
    list-style: none;
    background-color: #141921;
  }

  .footer-col {
    width: auto;
    // padding: 1rem;
  }
  .footer-col h4 {
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 900;
    position: relative;
  }
  // .footer-col h4::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   bottom: -10px;
  //   background-color: #f3a847;
  //   height: 2px;
  //   box-sizing: border-box;
  //   width: 50px;
  // }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 13px;
    text-transform: capitalize;
    color: #ffffff !important;
    text-decoration: none;
    font-weight: 300;
    color: #222;
    display: block;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
  }
  .footer-col ul li a:hover {
    padding-left: 8px;
    font-weight: 400;
  }
  .footer-col .social-links a {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #f3a847;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 54px;
    border-radius: 50%;
    color: #000;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }

  .bottom {
    background-color: #141921;
    text-align: center;
  }

  .copy-rights {
    text-align: center;
    font-size: 13px;
    background: #141921 !important;
    color: #cbcbcb;
    margin: 0;
    padding: 1.5rem 1rem;
  }
}

//****** FOOTER MEDIA QUERY *****///
@media (max-width: 950px) {
  .row-footer {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .footer-col {
    margin: 0 0 2rem 2rem;
  }
}
@media (max-width: 574px) {
  .row-footer {
    grid-template-columns: 1fr !important;
    place-items: left;
  }
}
