@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

/* font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.bold {
  font-weight: bold;
}

.back-to-result {
  display: block;
  margin: 2rem 1rem !important;
  color: #f3a847;

  img {
    width: 20px;
  }
}

// ********  Layout *******//
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #141921;
  min-height: 6vh;
  display: grid;
  grid-template-areas: "menu-logo  search-box  menu-links";
  place-items: center;
  // grid-template-columns: 50px 50px 50px 50px;
  // grid-template-rows: 1rem 5fr 5rem 1rem;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-items: center;

  /* Icon Sidebar */
  .sidebar-logo {
    grid-area: menu-logo;
    justify-self: start;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      margin-top: 1.3rem;
      width: 90px;
    }
  }

  .menu-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: menu-links;
    justify-self: end;
  }

  a.brand {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
  }

  a {
    color: #ffffff;
    padding-bottom: 0.3rem;
  }
}

main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #141921;
  color: #ffffff;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 0.3rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

// *******  CART   ******* //

// div
.cart-all {
  margin-right: 0.5rem;
}

// Link
.cart {
  // position: absolute;
}

// img
.cart-icon {
  width: 24px;
  // margin-right: 1rem !important;
}

.badge {
  position: relative;
  color: #f3a847;
  // padding: 0.2rem 0.7rem;
  font-size: 1.5rem;
  font-weight: bold;
  top: -15px;
  right: 14px;
}

// *******  END CART   ******* //

.titles {
  text-align: center;
}

.container {
  width: 96%;
  margin: 0 auto;
}

//***** GRID ****//
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1.5 1 25rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-2 {
  flex: 2 1 35rem;
}
.min-30 {
  min-width: 30rem;
}

.col-3 {
  flex: 32 1 75rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  height: 50%;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

img.large {
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}

/* Rating */
.rating {
  margin-bottom: 1.5rem;
}
.rating span {
  color: #f0c040;
  margin: 0.1rem 0;
}

.rating span:last-child {
  color: #404040;
  margin-left: 0.5rem;
}

/*! HomeScreen */
.success {
  color: #20a020;
  margin: 1rem 0 !important;
}

.danger {
  color: #a02020;
  margin: 1rem 0 !important;
}
/* ! ALERT */

// ******* Loading ********//
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh !important;
  height: 10vh !important;
  img {
    width: 50px;
  }
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  margin: 1rem 0 !important;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
  margin: 1rem 0 !important;
}

.alert-danger {
  color: #a02020;
  background-color: #f5b4b4;
  margin: 1rem 0 !important;
}

.alert-success {
  color: #20a020;
  background-color: #eeffb4;
  margin: 1rem 0 !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

/*! In stock */
.success {
  color: #20a020;
}

.error {
  color: #a02020;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  align-items: center !important;
}

button {
  background: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: #f3a847;
}

button.block {
  width: 100%;
}

button:hover {
  border: 0.1rem #404040 solid;
}

/* Form */
.form {
  max-width: 60rem;
  margin: 00 auto;
}

.form > div {
  display: flex;
  flex-direction: column !important;
  margin-bottom: 1rem;
}

.form label {
  margin: 1rem 0;
}

/* ! DropDown */

.dropdown-section {
  grid-area: menu-links;
  justify-self: end;
  .dropdown {
    display: inline-block;
    position: relative;
    margin-right: 1.5rem;
  }

  .dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    min-width: 9.5rem;
    padding: 1rem;
    z-index: 1;
    background: #141921;
    margin: 0;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
  }
  .dropdown-content-small {
    position: absolute;
    display: none;
    right: 0;
    min-width: 7rem;
    padding: 1rem;
    z-index: 1;
    background: #141921;
    margin: 0;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropdown-content-small {
    display: block;
  }

  .dropdown:hover i {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
  }

  .signin-mobile {
    margin-right: 1rem;
  }
}

/*****  DropDown Mobile ******/

.dropdown-section-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // height: 200px;
  .dropdown-mobile {
    display: inline-block;
    position: relative;
    margin-right: 1rem !important;
  }

  // .dropdown-content {
  //   position: absolute;
  //   display: none;
  //   right: 0;
  //   min-width: 9.5rem;
  //   padding: 1rem;
  //   z-index: 1;
  //   background: #141921;
  //   margin: 0;
  //   margin-top: 0.4rem;
  //   border-radius: 0.5rem;
  // }

  // .dropdown-content-small {
  //   position: absolute;
  //   // display: none;
  //   right: 0;
  //   min-width: 7rem;
  //   padding: 1rem;
  //   z-index: 1;
  //   background: #141921;
  //   margin: 0;
  //   margin-top: 0.4rem;
  //   border-radius: 0.5rem;
  // }

  // .dropdown:hover i {
  //   transform: rotate(180deg);
  //   transition: all 0.3s ease-in-out;
  // }

  .signin-mobile {
    margin-right: 1rem;
  }
  a {
    color: white;
  }
}

/* ! Checkout steps */
.checkout-steps {
  margin-top: 2rem;
}

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
}

.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

/*!  checks inputs */

/* .check-option {
  flex-direction: row;
}

.check-option input {
  margin-right: 1rem;
} */

.p-1 {
  padding: 1rem;
}

.carousel .slide img {
  max-width: 30rem;
}

//! Search Button
.search {
  grid-area: search-box;
  input {
    width: 35rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: none;
    margin-left: 0.5rem;
  }

  button {
    width: 5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border-right: none;
    margin-right: 0.5rem;
  }
}

//! Outline
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.col-1 ul li a {
  color: #000 !important;
}

main.active {
  color: red !important;
}

/* Aside bar*/
.gretting {
  color: #f3a847 !important;
  font-weight: bold;
  font-size: 1.8rem;
}
.user:hover {
  color: #f3a847;
}

.open-sidebar {
  visibility: hidden;
}
aside {
  display: flex;
  flex-direction: column !important;
  // align-items: center;
  padding: 5% 0 0 5%;
  position: fixed;
  width: 25rem;
  height: 100%;
  background-color: #141921;
  z-index: 1000;
  transform: translateX(-40rem);
  transition: all 0.5s;
}

aside.open {
  transform: translateX(0);
}

button.open-sidebar {
  font-size: 2.5rem;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 0.7rem 0.7rem 0.9rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
button.open-sidebar:hover {
  /* border-color: #ffffff; */
}

aside ul {
  padding: 0;
  list-style: none;
}
aside li a {
  display: block;
  justify-content: space-between;
  padding: 1rem 0 1rem 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

aside li a:hover {
  background: #f3a847;

  a {
    color: #000;
    transition: 0.3s ease;
  }
}

aside li:last-child {
  margin-bottom: 1rem;
}

button.close-sidebar {
  position: absolute;
  padding: 0.5rem 1rem;
  top: 15px;
  right: 15px;
  color: #f3a847;
  border: none;
  background: transparent;
  font-size: 1.7rem;
  cursor: pointer;
  z-index: 50;
}

/* sort reset */
.sort-reset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.6rem;
}

.sort-reset button {
  /* flex: 1; */
  max-width: 15rem;
  margin-left: 0.55rem;
}

.results-search {
  margin-left: 3.5rem;
}

.brand-mobile img {
  width: 30px !important;
  display: none;
  margin-bottom: 0.7rem;
}

@media only screen and (max-width: 885px) {
  header {
    grid-template-areas:
      "menu-logo  menu-links menu-links"
      "search-box search-box search-box search-box";
  }
  .open-sidebar {
    visibility: visible;
  }
  a.brand {
    display: none;
  }
  .brand-mobile img {
    display: flex;
  }

  .dropdown-section {
    display: none !important;
  }
  .signin-mobile {
    display: none !important;
  }

  .menu-cart {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 570px) {
  .search {
    input {
      width: 25rem !important;
    }
  }
}

@media only screen and (max-width: 467px) {
  .search {
    input {
      width: 20rem !important;
    }
  }
}

@media only screen and (max-width: 417px) {
  .search {
    input {
      width: 16rem !important;
    }

    button {
      width: 4rem !important;
    }
  }
}

@media only screen and (max-width: 367px) {
  .search {
    input {
      width: 15rem !important;
    }
  }
  .cart-all {
    margin-right: 0;
  }
}

@media only screen and (max-width: 342px) {
  .search {
    input {
      width: 13rem !important;
    }
  }
}
